@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9nerlh');
	src:url('fonts/icomoon.eot?#iefix-9nerlh') format('embedded-opentype'),
		url('fonts/icomoon.woff?-9nerlh') format('woff'),
		url('fonts/icomoon.ttf?-9nerlh') format('truetype'),
		url('fonts/icomoon.svg?-9nerlh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.IconFontRater {
    font-family: icomoon;
    color: darkorange;
	letter-spacing: .33em; 
    cursor: pointer;   
}

.IconFontRater span {
	letter-spacing: initial; /*remove letter-spacing in spaned version in favor of padding*/
	padding: .15em;
}
